#
/7.3/jest/node_modules
/7.3/playwright/node_modules
/7.3/playwright/user.js
/7.3/playwright/screen/

/7.4/puppeteer/node_modules

/7.5/puppeteer-2/node_modules

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix